 *{
	margin: 0;
	padding: 0;
  font-weight: bold;
}

.siteName{
  font-weight: bold;
  font-size: 25px;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #F9F8EE;
  font-family: Montserrat, arial, sans-serif;
}

footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;
  font-weight: lighter;
}

/* nav bar */
.navBar{
  width: 100%;
  height: 70px;  
  position: fixed;
	display: inline;
	z-index: 3;
  background-color: #F9F8EE;
}

nav{
	display: flex;
  flex-direction: row;
	float: right;
	position: relative;
	top: 15px;
	right: 20px;
  padding-top: 10px;
}

.navBar a{
	text-decoration: none;
  color:black;
  padding: 0 10px;
  font-weight: lighter;
}

nav a:hover{
  font-weight: bold;
}

.navBar h2{
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 400px;
  top: 27px;
  background-color: #f9f9f9;
  height: 80px;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a{
  position: relative;
  top: 10px;
  padding: 5px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#dropdown2{
  height: 210px;
  width: 140px;
  right: 280px;
}

#dropdown3{
  height: 100px;
  right: 160px;
}

.navBar img, .navBar h2{
  padding-top: 15px;
  padding-left: 5px;
}

/* home info */
.welcomeText{
  display: flex;
  flex-direction: column;
}

.welcome{
padding-left: 100px;
display: flex;
flex-direction: row;
align-items: center;
}

.welcome h1{
  font-size: 70px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
}

.welcome img{
  object-fit: cover;
  bottom: 250px;
  right: 0px;
  height: 350px;
  padding-left: 350px;
}

.infoBox{
  text-align: center;
  width: 300px;
  padding: 30px;
  border-right: 2px solid black;
  margin: 10px; 
  display: inline-block;
}

.infoBox h1{
  font-size: 25px;
}

#noBorder{
  border: none;
}

.homeInfo{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  
}


/* home links */
.linkBox img{
  object-fit: cover;
  height: 150px;
  width: 500px;
  margin: 0 20px;
  transition: .5s ease;
  border-radius: 30px;
}

.quickLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quickLinks h1{
  font-size: 40px;
}

.linkRow{
  display: flex;
  flex-direction: row;
}

.linkBox p{
  width: 400px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 100px;
  z-index:-1;
  font-weight: bolder;
  font-size: 30px;
}

.linkBox img:hover{
  opacity: 50%;
  z-index: -1;
  width: 505px;
  height: 155px;
}


/* donate links */
.donateLinks img {
  object-fit: cover;
  height: 150px;
  width: 500px;
  margin: 0 20px;
  transition: .5s ease;
}

.donateLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donateLinks h1 {
  font-size: 40px;
}

.donateLinkRow {
  display: flex;
  flex-direction: row;
}

.donateLinkBox img:hover {
  opacity: 25%;
  z-index:-1;
}
/* end of donate links */

/* template links */
.templateLinks img{
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin: 0 20px;
  border-radius: 25px;
}

.templateLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.templateLinks h1 {
  font-size: 40px;
}

.templateRow {
  display: flex;
  flex-direction: row;
  margin: 0 0 -200px 0;
}

.templateBox a{
  text-decoration: none;
  color: black;
}

.templateBox p{
  height: 250px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: 254px;
  font-weight: bolder;
  font-size: 25px;
  background-color: #f2aaae;
  border-radius: 25px;
  opacity: 0;
  transition: .5s ease;

}

.templateBox p:hover{
  opacity: 80%;
}

/* for page intros */
.intro{
  margin: 0 auto;
}
.intro h1, .intro p{
  text-align: center;
  width: 800px;
}

.intro h1{
  font-size: 50px;
}

/* random activity generator*/
.resultBox{
  height: 200px;
  width: 700px;
  margin: 70px auto;
  border: 3px solid black;
  box-shadow: 10px 10px ;
  border-radius: 30px;
}

.activityBtn{
  background-color: lightpink;
  color: white;
  border-radius: 30px;
  opacity: 70%;
  padding: 10px;
  border: 1px solid #d2d1c1;
  cursor: pointer;
  display: block;
  margin: 0 auto;  
  position: relative;
  bottom: 50px;
  transition: .5s ease;
}

.activityBtn:hover{
  opacity: 100%;
}

.activityPosition{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
}

/* podcast */
iframe{
  display: block;
  margin: 0 auto;
}

/* self care pages*/ 

.linkPage img{
  object-fit: cover;
  height: 350px;
  width: 300px;
  margin: 50px 100px 120px 100px;
  transition: .5s ease;
}
.linkPage img:hover{
  height: 360px;
  width: 310px;
}

.linkPage{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.linkPage p{
  z-index: 1;
}

.wellnessIntro{
  width: 100%;
  background-image: url("assets/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.wellnessIntro h1, .wellnessIntro p{
  position: relative;
  top: 350px;
  width: 50%;
  padding-left: 40px;
  font-weight: bold;
  color: white;
}

.point{
  width: 600px;
  margin-left: 25%;
}

.tips{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tipBox{
  font-weight: bold;
  margin: 20px;
  width: 200px;
  height: 180px;
  text-align: center;
  border: 3px solid black;
  padding: 30px;
  box-shadow: 10px 10px #d0ceb9;
}

/* checklist */
.checklistButtons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: .5s ease;

}

.suggestedBtn, .customBtn{
  height: 50px;
  width: 190px;
  padding: 10px;
  background-color: white;
  margin: 10px 20px;
  transition: .5s ease;
  border: none;
  box-shadow: 4px 4px lightpink;

}

.suggestedBtn:hover, .customBtn:hover{
  background-color: #f5e0e3;
  cursor: pointer;

}

.suggestedCheck{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-weight: bold;
}

.suggestedCheck h1{
    z-index: 1;
}

.notepad{
  position: absolute;
  top: 480px;
  margin: 0 auto;
  width: 100%;
}

.customList{
  z-index:2;
}

.item{
  z-index: 1;
  text-align: left;
  margin: 5px;
  font-size: 20px;
}

.customCheck{
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  font-weight: bold;
}

.customCheck h1{
    z-index: 1;
}

.showChecklist{
  display: flex;
}

form{
  position: relative;
  bottom: 140px;

}

.textBox, .submitBtn{
  padding: 10px 15px;
}

.submitBtn{
  background-color: #f5e0e3;
  border: 2px solid #f5e0e3;
  transition: .5s ease;
}

.submitBtn:hover{
  cursor: pointer;
  opacity: 50%;
}

.delete{
  background-color: white;
  padding: 3px;
  margin: 0 10px;
  border: none;
  transition: .3s ease;

}

.delete:hover{
  cursor: pointer;
  background-color: #c68080;
  
}

/* MEET THE TEAM */

.profPic{
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 20px;
  box-shadow: 10px 5px #d2d1c1;
  transition: .5s ease;
  
}

.person:hover .profPic{
  height: 300px;
  width: 300px;
}

.person{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}

#prof2{
  float: right;
}

#person2{
  text-align: right;
  flex-direction: row-reverse;
  position: relative;
  left: 20%;
}

.personDesc{
position: relative;
left: 0;
opacity: 0;
transition: .8s ease;
}

.person:hover .personDesc{
  left: 70px;
  opacity: 100%;
}

.person2Desc{
  position: relative;
  right: 0;
  opacity: 0;
  transition: .8s ease;
}

.person:hover .person2Desc{
  right: 70px;
  opacity: 100%;
}

a {
  color: red;
}
  


